<nav class="bg-gradient-to-r from-neutral-900 via-slate-900 to-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-20">
      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 transform scale-150 origin-left">
          <span class="flex items-center leading-none">
            <img src="assets/quickquiz-logo.png" alt="Q" width="52" height="52" class="inline-block -mr-3 align-middle" />
            <span class="uppercase text-slate-200 text-sm font-bold tracking-wide align-middle">
              uickQuiz
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</nav>
